.custom-carousel-btn {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    border-radius: 50%; /* Forma circular */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .modal-header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.modal-header{
    padding-left: 1.5rem;
}

.mborrar{
    padding-left: 1.5rem;
}

.navbar-brand {
    /*font-size: 1.5rem;*/
    color: black;
    font-weight: bold;
    /*transition: color 0.3s ease;*/
    &:hover{
        color: #f14d00;
        .fo{
            color:black;
        }
    }
}

.nav-link{
    color:black;
    &:hover{
        color:#f14d00;
        font-weight: bold;
    }
}

.admin{
    color: #b15000;
}

hr{
    margin-top: 0px;
}

.fo{
    color:#f14d00;
}

.table-responsive{
    overflow-x: unset; /*Desactivar scroll*/
}

.small-icon {
    width: 20px;
    height: 20px;
}
.carousel {
    margin-bottom: 40px; /* Ajusta este valor según sea necesario */
}
/* Ajuste para no cubrir demasiado las imágenes */
.carousel-control-prev,
.carousel-control-next {
    width: auto;
}

/* Ajustes en los iconos del btn-group */
.logo{
    height: 1rem;
    width: 1rem;
    margin-bottom: 2px;
}
/* Ajustes del foco en iconos */
.btn-outline-dark:hover{
    .logo{
        filter: invert(98%) sepia(87%) saturate(100%) hue-rotate(258deg) brightness(115%) contrast(101%);
    }
}

body {
    display: flex;
    flex-direction: column; /* Orientación vertical */
    min-height: 100vh; /* Altura mínima para llenar la ventana */
    margin: 0; /* Elimina márgenes predeterminados del body */
}

.container {
    flex: 1; /* Permite que la sección principal crezca y empuje el footer hacia abajo */
}

.toast1{
    position:fixed;
    color:white;
    top: 80px;
    right: 30px;
    width: 100%;
    max-width: 400px;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.toast1.auto-close::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: auto-close;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animacion {
    animation: fadeIn 1s ease-in-out;
    animation-delay: 0.3s;
}

@keyframes auto-close {
    from{
        width: 100%;
    }to{
        width: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile view adjustments */
@media (max-width: 992px) {
    
    .nav-item {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .nav-link {
        margin-right: 0;
    }
    .col-md-12{
        text-align: center; /* Centrar texto del footer */
    }
    .table-responsive{
        overflow-x: scroll; /* Activar el scroll*/
    }
}
